{% extends "base.html" %} 
{% block title %}Password reset{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">
{% endblock %}
{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}
{% block header %}
<div class="main__header">
    <h1 class="main__title">Change password</h1>
</div>
{% endblock %}

{% block errors %}
{% include 'include/formerrors.html' %}
{% endblock%}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}