{% extends "base.html" %} 
{% block title %}Password reset{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">
{% endblock %}
{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}
{% block header %}
<div class="main__header">
    <h1 class="main__title">Password reset</h1>
</div>
{% endblock %}

{% block errors %}
{% include 'include/formerrors.html' %}
{% endblock%}

{% block content %}
    <div class="form-container">
        <form method="post" class="form" action="">
            {% csrf_token %}
            <p class="form__info-text">
                To reset the old password - enter the email address under which you registered.
            </p>
            <div class="form__group">
                <label for="id_email" class="form__label">Enter email</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
           <div class="form__footer">
               <button type="submit" class="button button_style_blue">Reset password</button>
           </div>
        </form>
    </div>
{% endblock %}


