{% extends "base.html" %} 
{% block title %} Error 500 {% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">
{% endblock %}
{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}
{% block content %}

<main role="main" class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Error 500</h1>
        <p class="lead">Server error, refresh the page or contact later</p>
        <p class="lead"><a href="{% url 'recipes:index' %}">Go back to the main page</a></p>
    </div>
</div>
</main>

{% endblock %} 