{% extends "base.html" %} 
{% block title %}Shopping list{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/pages/shopList.css' %}">
{% endblock %}
{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}
{% block header %} {% include 'include/header_container.html' %} {% endblock %}
{% block content %} 

    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in page %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                    {% if recipe.image %}
                    <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="link" target="_blank">
                    <img src="{{ recipe.image.url }}" alt="Image for {{recipe.title}}" class="recipe__image recipe__image_big">
                    </a>
                    {% endif %}
                    <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="link" target="_blank">
                    <h3 class="recipe__title">{{recipe.title}}</h3>
                    </a>
                    <p class="recipe__text"><span class="icon-time"></span> {{recipe.cooking_time}} min.</p>
                </div>
                <form method="post" action="{% url 'recipes:recipe_order' pk=recipe.id %}" >
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete">
                </form>
            </li>

            {% endfor %}
        </ul>
        <a href="{% url 'recipes:orderlist' %}"><button class="button button_style_blue">Download list</button></a>
    </div>

{% block static %}
    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/components/ShopList.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>
    <script src="{% static 'recipes/js/api/Api.js' %} "></script>
    <script src="{% static 'recipes/shopList.js' %}"></script>
{% endblock %}

{% endblock %}
