<div class="card" data-id="{{ recipe.id }}">

    {% load thumbnail %} 
    {% load user_filters %}
    {% load static %}
    <a href="#" class="link" target="_blank">
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="Image for {{ recipe.title }}" class="card__image">
        {% endif %}
    </a>
   
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:recipe_detail' recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items" style="overflow-y: scroll; height:100px;">
            {% for tag in recipe.display_tags_as_list %}
            <li class="card__item"><span class="badge badge_style_green">{{ tag }}</span></li>
            {% endfor %}
        </ul>
        <div>
            <p>
                {{ recipe.display_ingredients_as_str }}
            </p>
        </div>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} min</p>
            <p class="card__text"><span class="icon-user"></span>
                <a href="{% url 'recipes:profile' recipe.from_who.id %}" style="color: black">
                {% if recipe.from_who.get_full_name %}
                {{ recipe.from_who.get_full_name }}
                {% else %}
                {{ recipe.from_who.username }}
                {% endif %}
                </a>
            </p>
           
            {% if recipe.from_who == user or user.is_staff%}
                <p>
                <a class="button" href="{% url 'recipes:recipe_update' recipe.id %}" target="_blank">Edit</a>
                <a class="button" href="{% url 'recipes:recipe_delete' recipe.id %}" target="_blank">Delete</a>
                </p>
            {% endif %}
           
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe|is_bought:user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Remove from shopping list</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Buy</button>
            {% endif %}
            {% if recipe|is_bookmarked:user %}
            <button class="button button_style_none" name="favorites" ><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
            <button class="button button_style_none" name="favorites" class="shopping-list__button link" data-out ><span class="icon-favorite"></span></button>
            {% endif %}
        {% else %}
            {% if recipe.id in request.session.ordered_recipes %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Remove from shopping list</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Buy</button>
            {% endif %}
        {% endif %}
    </div>
</div>